
<script src="$baseurl/download/resources/ru.hlynov.oit.simplesign.simplesignature:simplesignature-resources/simplesignature.js"></script>

<style type="text/css">
    /* Окно */
    div#signDetailDiv {
        display: none;
        position:absolute;
        width: 400px;
        background-color: #FFFFFF;
        border-radius: 5px;
        border: 1px solid #c1c7d0;
        box-shadow: 3px 3px 3px 1px #000000;
        padding: 10px;
        z-index: 100;
    }

    div#signDetailDiv ul {
        list-style-type: none;
        padding: 0 0 0 10px;
    }


    div#signDetailDiv .sign-name {
        float: left;
        width: 200px;
        height: 20px;
        overflow: hidden;
    }

    div#signDetailDiv .sign-status {
        float: left;
        width: 50px;
        text-align: center;
    }

    div#signDetailDiv .sign-bthcheck {
        float: left;
        text-align: center;
    }

    div#signDetailDiv button {
        cursor: pointer;
        color: #000000;
        border:none;
        background-color: #FFFFFF;
    }

    div#signDetailDiv button:hover {
        color: #000000;
        text-decoration: underline;
    }


    .status-ok {
        color: #008000;
    }

    .status-bad {
        color: #FF0000;
    }

    .sign-total {
        text-align: center;
        margin-top: 10px;
    }
</style>

<div id="simpleSignDiv">
    <div style="float: left; margin-right: 10px;">
        <img src="$baseurl/download/resources/ru.hlynov.oit.simplesign.simplesignature:simplesignature-resources/images/user-id-icon.png"></img>
    </div>

    <div style="width: 500px;">
        <div>$fullusername ($username)</div>
        <div>Подписано $signdate <button id="checkSum" style="cursor: pointer; color: #FF0000; background-color: #FFFFFF; border: none" onclick="simplesign.module.checkSumClick()">контрольные суммы</button></div>
        <input id="signissueid" type="hidden" value="$issueid">
        <input id="signfieldid" type="hidden" value="$fieldid">
    </div>

        <div id="signDetailDiv">
            <ul>
                <li style="background-color: #e1e4e9; color: #42526e">
                    <div class="sign-name">Компоненты подписи</div><div class="sign-status">&nbsp;</div><div class="sign-bthcheck"><button style="background-color: #e1e4e9;">проверить все</button></div>
                    <div class="sign-spin" style="display: none">
                        <img src="$baseurl/download/resources/ru.hlynov.oit.simplesign.simplesignature:simplesignature-resources/images/spin.gif"></img>
                    </div>
                </li>

                <li>
                    <div class="sign-name">заголовок</div><div class="sign-status status-ok">OK</div><div class="sign-bthcheck"><button>проверить</button></div>
                </li>
                <li>
                    <div class="sign-name">описание</div><div class="sign-status status-ok">OK</div><div class="sign-bthcheck"><button>проверить</button></div>
                </li>
                <li>
                    <div class="sign-name">вложение 1</div><div class="sign-status status-bad">BAD</div><div class="sign-bthcheck"><button>проверить</button></div>
                </li>
                <li>
                    <div class="sign-name">вложение 2</div><div class="sign-status status-ok">OK</div><div class="sign-bthcheck"><button>проверить</button></div>
                </li>
            </ul>

            <div class="sign-total"><span class="status-bad">ОШИБКА</span> Неверная подпись</div>

        </div>

</div>



